src/test/resources/test-mule-config-webhook-new-webhook-creation.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cloudblue-connect="http://www.mulesoft.org/schema/mule/cloudblue-connect"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core
            http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http 
            http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/cloudblue-connect 
            http://www.mulesoft.org/schema/mule/cloudblue-connect/current/mule-cloudblue-connect.xsd">

    <cloudblue-connect:webhook-config name="CloudBlue_Connect_Webhook_config" basePath="/webhook" >
        <cloudblue-connect:listener-connection host="localhost" port="${webhook_port}"
                                               webhookBindingUrl="https://localhost"
                                               endpoint="http://localhost:${port}"
                                               token="ApiKey SU-000-000-000:fake-token-001" />
    </cloudblue-connect:webhook-config>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="getRequestServer">
        <http:listener path="/requests" config-ref="listenerConfig"/>
        <set-payload value="[{'id':'PR-000-000-000'}]"/>
    </flow>

    <flow name="getWebhooksServer">
        <http:listener path="/notifications/webhooks" config-ref="listenerConfig" allowedMethods="GET"/>
        <set-payload value="[]"/>
    </flow>

    <flow name="postWebhooksServer">
        <http:listener path="/notifications/webhooks" config-ref="listenerConfig" allowedMethods="POST"/>
        <set-payload value="{'id':'${webhook_id}', 'object_class': 'fulfillment_request', 'external_url': 'https://localhost/webhook/fulfilment/fulfillment_request', 'jwt_secret': '${jwt_secret}', 'active': true, 'product': {'id':'PRD-000-000-000'}}"/>
    </flow>

    <flow name="getWebhookServer">
        <http:listener path="/notifications/webhooks/${webhook_id}" config-ref="listenerConfig"/>
        <set-payload value="{'id':'${webhook_id}', 'object_class': 'fulfillment_request', 'external_url': 'https://localhost/webhook/fulfilment/fulfillment_request', 'jwt_secret': '${jwt_secret}', 'active': true, 'product': {'id':'PRD-000-000-000'}}"/>
    </flow>

    <cloudblue-connect:config name="CloudBlue_Connect_Config_Test">
        <cloudblue-connect:connection token="ApiKey SU-000-000-000:fake-token-001"
                                      connectionTimeout="20000"
                                      endpoint="http://localhost:${port}"/>
    </cloudblue-connect:config>

    <flow name="webhookFlow">
        <cloudblue-connect:webhook-source config-ref="CloudBlue_Connect_Webhook_config" path="/fulfilment"
                                          jwtSecret="${jwt_secret}"
                                          webhookEventType="FULFILLMENT_REQUEST"
                                          productId="PRD-000-000-000"/>
        <cloudblue-connect:list-resources resourceType="Request" config-ref="CloudBlue_Connect_Config_Test">
            <cloudblue-connect:filter >
                <cloudblue-connect:list-filter type="AND" >
                    <cloudblue-connect:filters >
                        <cloudblue-connect:mono-filter type="EQ" property="product.id" value="#[payload.productId]"/>
                        <cloudblue-connect:mono-filter type="EQ" property="status" value="pending" />
                    </cloudblue-connect:filters>
                </cloudblue-connect:list-filter>
            </cloudblue-connect:filter>
        </cloudblue-connect:list-resources>
        <logger level="INFO" message="#[payload.id]"/>
    </flow>

    <http:request-config name="HTTP_Request_configuration">
        <http:request-connection host="localhost" port="${webhook_port}" usePersistentConnections="false" />
    </http:request-config>

    <flow name="testWebhookNew">
        <http:request method="POST"
                      config-ref="HTTP_Request_configuration" path="webhook/fulfilment/fulfillment_request">
            <http:body >
                <![CDATA[{
                    product_id: 'PRD-000-000-000'
                }]]>
            </http:body>
            <http:headers >
                <![CDATA[#[output application/java
                    ---
                    {
	                    Authentication : 'Bearer ${jwt_token}'
                    }
                ]]]>
            </http:headers>
        </http:request>
    </flow>

</mule>
