src/test/resources/test-mule-config-polling-positive.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:cloudblue-connect="http://www.mulesoft.org/schema/mule/cloudblue-connect"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core
            http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http 
            http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/cloudblue-connect 
            http://www.mulesoft.org/schema/mule/cloudblue-connect/current/mule-cloudblue-connect.xsd">

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}"/>
    </http:listener-config>

    <flow name="getRequestServer">
        <http:listener path="/requests" config-ref="listenerConfig"/>
        <set-payload value="[{'id':'PR-000-000-000'}]"/>
    </flow>

    <cloudblue-connect:config name="CloudBlue_Connect_Config_Test">
        <cloudblue-connect:connection token="ApiKey SU-000-000-000:fake-token-001"
                                      connectionTimeout="20000"
                                      endpoint="http://localhost:${port}"/>
    </cloudblue-connect:config>

    <flow name="polling_flow">
        <cloudblue-connect:connect-polling-source
                objectType="Requests"
                config-ref="CloudBlue_Connect_Config_Test"
                idempotency="true">
            <scheduling-strategy >
                <fixed-frequency frequency="1" timeUnit="SECONDS"/>
            </scheduling-strategy>
            <cloudblue-connect:filter >
                <cloudblue-connect:mono-filter type="EQ" property="status" value="pending" />
            </cloudblue-connect:filter>
        </cloudblue-connect:connect-polling-source>
        <logger level="INFO" message="#[payload.id]"/>
    </flow>

</mule>
